MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/<database>?retryWrites=true&w=majority
MONGODB_DATABASE=star-line
FRONTEND_ORIGIN=http://localhost:5173
TAX_RATE=0
DELIVERY_CHARGE=0
FREE_DELIVERY_THRESHOLD=0
PACKAGING_CHARGE=0
PLATFORM_DISCOUNT_RATE=0
PLATFORM_DISCOUNT_THRESHOLD=0
ESTIMATED_DELIVERY_DAYS=3
